{{define "postform"}}
<html>
{{template "head" "Create your post"}}

<body>
    {{template "header"}}
    <div class="container">
        <form action="{{.Action}}" method="POST">
            <div class="mb-4">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" name="title" value="{{.Post.Title}}">
            </div>
            <div class="mb-4">
                <label class="form-label" for="body">Text</label>
                <textarea class="form-control" name="body" rows="10">{{.Post.Body}}</textarea>
            </div>
            <button class="btn btn-primary" type="submit">Create</button>
        </form>
    </div>
    {{template "footer"}}
</body>

</html>
{{end}}